<div *ngIf="machine" class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ machine.name }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img [src]="machine.picture">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Nom</td>
                <td><strong>{{ machine.name }}</strong></td>
              </tr>
              <tr>
                <td>Types</td>
                <td>
                  <span>{{ machine.types }}</span>
                </td>
              </tr>
              <tr>
                <td>Date de création</td>
                <td><em>{{ machine.created | date:"dd/MM/yyyy" }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goBack()" class="waves-effect waves-light btn">Retour</a>
          <a (click)="goEdit(machine)" class="waves-effect waves-light btn">Editer</a>
          <a (click)="delete(machine)" class="waves-effect waves-light btn red">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 *ngIf='!machine' class="center">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
</h4>