
<h1 class='center'>{{ title }}</h1>
  <div class='container'>
    <div class="row">

      <search-machine></search-machine>
      
            <div *ngFor='let machine of machines' class="col s6 m4" style="width: 18rem; ">
                    <img [src]="machine.picture" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ machine.name }}</h5>
                        <p class="card-text">{{ machine.created | date:"dd/MM/yyyy" }}</p>
                    </div>

                    <div class="card-action">
                        <a (click)="ChoiceMachine()" class="waves-effect waves-light btn">Sélectionner</a>
                        <a (click)="selectMachine(machine)" class="waves-effect waves-light btn">Détail</a>
                      </div>
                </div>
              
    </div>

  </div>

  <!-- Button to add machine -->
  <a class="btn-floating btn-large waves-effect waves-light blue z-depth-3"
    style="position: fixed; bottom: 25px; right: 25px;"
    routerLink="/machine/add" href>
    <strong>+</strong>
  </a>



   
